<div class="header">
  <!-- <h1>Todos</h1> -->
  <a [routerLink]="['todo', 'new']" class="new-todo">Create New Todo</a>
</div>

<ng-container *ngIf="todos$ | loading | async as todosQuery">
  <div class="list" *ngIf="todosQuery.status === 'success' || !!localTodos.length">
    <div *ngFor="let todo of localTodos" class="todo">
      <div class="row">
        <input (click)="onTodoToggle($event, todo.id, !todo.completed)" type="checkbox" class="checkbox"
          [checked]="todo.completed" />
        <a class="label" [routerLink]="['todo', todo.id]">{{ todo.label }}</a>
      </div>
      <div *ngIf="!!todo.description" class="description">
        {{ todo.description }}
      </div>
    </div>
  </div>
  <div *ngIf="todosQuery.status === 'loading' && !localTodos.length">
    Loading...
  </div>
  <div *ngIf="todosQuery.status === 'error'" class="todos-error">
    {{ todosQuery.error.message}}
  </div>
</ng-container>