.new-todo-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  padding: var(--size-4);
  border-radius: var(--radius-card);
  background-color: var(--surface-2);
  margin-bottom: 16px;
}

.new-todo-form .field {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  width: 100%;
}

.new-todo-form .field .input {
  background-color: var(--surface-3);
  padding: var(--size-2);
  border-radius: var(--radius-1);

  &:where(textarea) {
    width: 100%;
    resize: none;
  }
}

.new-todo-form .field .input.ng-dirty,
.new-todo-form.ng-submitted .field .input {
  &.ng-invalid {
    border: 1px solid var(--error-fg);
  }
}

.new-todo-form .field .error {
  font-style: italic;
  color: var(--error-fg);
}

.new-todo-form .submit {
  padding: var(--size-2);

  font-weight: bold;
  color: var(--fg-1);
  background-color: var(--surface-3);

  border-radius: var(--radius-1);
  margin-top: var(--size-3);

  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.todo {
  background-color: var(--surface-2);

  padding: var(--size-4);
  border-radius: var(--radius-card);
}

.todo .row {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.todo .label {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.todo .description {
  padding-left: 20px;
  color: var(--fg-2);

  margin-top: var(--size-2);
}

.error {
  background-color: var(--error-bg);
  color: var(--error-fg);

  padding: var(--size-3);
  border-radius: var(--radius-card);
}
