<h1>Todos</h1>
<form class="new-todo-form" [formGroup]="newTodoForm" (submit)="onTodoSubmit($event)">
  <label class="field">
    <div class="label">Label</div>
    <input type="text" class="input" formControlName="label" />
    <div *ngIf="label?.invalid && (label?.dirty || label?.touched || formHasBeenSubmitted)" class="error">
      <ng-content *ngIf="label?.hasError('nonEmpty')">
        Cannot be empty
      </ng-content>
    </div>

  </label>
  <label class="field">
    <div class="label">Description</div>
    <textarea rows="4" class="input" formControlName="description"></textarea>
  </label>
  <button type="submit" class="submit">Create</button>
</form>

<ng-container *ngIf="todos$ | loading | async as todosQuery">
  <div class="list" *ngIf="todosQuery.status === 'success' || !!localTodos.length">
    <div *ngFor="let todo of localTodos" class="todo">
      <div class="row">
        <input (click)="onTodoToggle($event, todo.id, !todo.completed)" type="checkbox" class="checkbox"
          [checked]="todo.completed" />
        <a class="label" [routerLink]="['todo', todo.id]">{{ todo.label }}</a>
      </div>
      <div *ngIf="!!todo.description" class="description">
        {{ todo.description }}
      </div>
    </div>
  </div>
  <div *ngIf="todosQuery.status === 'loading' && !localTodos.length">
    Loading...
  </div>
  <div *ngIf="todosQuery.status === 'error'" class="todos-error">
    {{ todosQuery.error.message}}
  </div>
</ng-container>