.new-todo {
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-1);
  background-color: var(--surface-3);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.todo {
  background-color: var(--surface-2);

  padding: var(--size-4);
  border-radius: var(--radius-card);
}

.todo .row {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.todo .label {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.todo .description {
  padding-left: 20px;
  color: var(--fg-2);

  margin-top: var(--size-2);
}

.todos-error {
  background-color: var(--error-bg);
  color: var(--error-fg);

  padding: var(--size-3);
  border-radius: var(--radius-card);
}
