<div *ngIf="todo$ && (todo$ | loading | async) as todoQuery">
  <ng-container *ngIf="todoQuery.status === 'success'">
    <div class="header">
      <div class="left">
        <input type="checkbox" [checked]="localTodo.completed" (click)="toggleTodo($event)" />
        <h1 [class.completed-todo-text]="localTodo.completed">{{ localTodo.label }}</h1>
      </div>
    </div>
    <div class="description" *ngIf="!!localTodo.description">
      {{ localTodo.description }}
    </div>
    <button class="delete" (click)="deleteTodo()">Delete</button>
  </ng-container>
</div>