/* You can add global styles to this file, and also import other style files */

:root {
  --radius-card: var(--radius-2);

  // Colors
  --surface-1: var(--stone-1);
  --surface-2: var(--stone-2);
  --surface-3: var(--stone-4);

  --fg-1: black;
  --fg-2: var(--stone-9);

  --error-fg: var(--red-7);
  --error-bg: hsl(var(--red-9-hsl) / 10%);

  --danger-1: var(--red-7);
  --danger-2: var(--red-8);
  --danger-3: var(--red-9);
  --danger-fg: white;

  @media (prefers-color-scheme: dark) {
    --surface-1: var(--stone-12);
    --surface-2: var(--stone-11);
    --surface-3: var(--stone-10);

    --error-fg: var(--red-5);

    --fg-1: white;
    --fg-2: var(--stone-5);
  }
}

html * {
  box-sizing: border-box;
  margin: 0;
  border: none;

  color: var(--fg-1);
  font-style: normal;
  text-emphasis: none;
}

body {
  min-height: 100vh;

  background-color: var(--surface-1);

  font-family: sans-serif;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

input[type="text"] {
  border: none;
}

a {
  text-decoration: none;
}
